@import "tailwindcss";

html {
  overflow-x: hidden;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
  overflow-x: hidden;
  width: 100%;
}

/* Custom Scrollbar Styling */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  /* background: #888; */
  border-radius: 4px;
  border: none;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Firefox Scrollbar */
* {
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
}
